.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 20px;
  overflow-y: auto;
}

.blur {
  filter: blur(3px);
}

.bio {
  padding: 20px 10px;
  margin: 0;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  .profile {
    position: relative;
    border: none;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.12);
    order: 2;
    z-index: 1;
  }
}