.header {
  position: relative;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
  padding: 15px 20px;
  z-index: 1;
}

.search {
  border: 1px solid var(--stroke-color);
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  width: 310px;
}

@media (max-width: 768px) {
  .search {
    width: calc(100% - 40px);
  }
}